<style>
  .form-control{
    width: 30vw;
  }
</style>

<div class="container" style="display:flex; align-items: center; justify-content: center; text-align: center; font-family:sans-serif" >
  <form action="/enter" method="POST" style="margin-bottom: 4vh;">
    <h1> Вход</h1>
    <div class="form-group">
      <label for=""></label>
      <small id="helpId" class="form-text ">Имя</small>
      <input type="text" class="form-control" name="Firstname" id="" aria-describedby="helpId" placeholder="">
    </div>
    <div class="form-group">
      <label for=""></label>
      <small id="helpId" class="form-text ">Фамилия</small>
      <input type="text" class="form-control" name="Secondname" id="" aria-describedby="helpId" placeholder="">
    </div>
    <div class="form-group">
      <label for=""></label>
      <small id="helpId" class="form-text ">Пароль</small>
      <input type="text" class="form-control" name="Password" id="" aria-describedby="helpId" placeholder="">
    </div>
    <input name="" id="" class="btn btn-primary" type="submit" value="Войти">
</form>
</div>